
<html>
<head>
<style>
	table {
	    border-collapse: collapse;
	    width: 100%;
	}
	
	th, td {
	    text-align: left;
	    padding: 8px;
	}
	
	th {
	    background-color: #4CAF50;
	    color: white;
	}
	</style>
</head>
	<body>
		<p>Hi ${contactUs.name}, </p>
		<p>
			We have received below query from you.
		</p>
		
		<p>
			${contactUs.message}
		<p>
		<br/>
		<p>
			We will get back to you shortly.
		<p>
		<br/>
		Happy Riding!!!
		<br/>
		<br/>
		<p>
			Thanks & Regards, <br/><br/>
			jiffGo Team
			<br/>
			<a href="https://www.jiffgo.com">jiffGo</a>
		</p>
	</body>
 
</html>