
<html>
<head>
<style>
	table {
	    border-collapse: collapse;
	    width: 100%;
	}
	
	th, td {
	    text-align: left;
	    padding: 6px;
	    border: 1px solid black;
	}
	
	th {
	    background-color: #4CAF50;
	    color: white;
	}
	
	</style>
</head>
	<body bgcolor="#fafafa">
		<p>Hi ${rideRequest.requester.firstName}, </p>
		#if(${rideResponse})
			<p>
				Thanks for using jiffgo.com. We have processed your ride request. 
			</p>
		#else
			<p>
				Thanks for using jiffgo.com. We have queued your ride request. 
			</p>
		#end
		
		<p><b>Ride Details</b>
			<table style="border: 1px solid black;width: 80%;">
				<tr ><td style="background-color: #f2f2f2;">Pick up</td><td>${rideRequest.startAddress}</td></tr>
				<tr ><td style="background-color: #f2f2f2;">Drop Off</td><td>${rideRequest.endAddress}</td></tr>
				<tr ><td style="background-color: #f2f2f2;">Travel Date</td><td>${rideRequest.requestDate}</td></tr>
			</table>
		<p>
		#if(${rideResponse})
			#if(${rideResponse.vehicle} )
				<p><b>Vehicle Details</b>
					<table style="border: 1px solid black;width: 80%;">
						<tr ><td class="tdcolor">Model</td><td>${rideResponse.vehicle.model}</td></tr>
						<tr ><td class="tdcolor">License</td><td>${rideResponse.vehicle.license_plate}</td></tr>
						<tr ><td class="tdcolor">Picture</td><td><img src="${rideResponse.vehicle.picture_url}" alt="Vehicle picture"/></td></tr>
					</table>
				<p>
				<p><b>Driver Details</b>
					<table style="border: 1px solid black;width: 80%;">
						<tr><td class="tdcolor">Driver Name</td><td>${rideResponse.driver.Name}</td></tr>
						<tr><td class="tdcolor">Driver PhoneNo. </td><td>${rideResponse.driver.driverPhoneNo}</td></tr>
						<tr><td class="tdcolor">Driver Pic</td><td><img src="${rideResponse.driver.driverPicture}" alt="Driver picture"/></td></tr>
						<tr><td class="tdcolor">Driver Rating</td><td>${rideResponse.driver.driverRating}</td></tr>
					</table>
				<p>
			#else
				Your ride status is <strong>${rideResponse.status}</strong>. We will inform you as the status changes.
			#end
		#else
			Your ride is <strong>scheduled</strong>. You will receive notification from Uber when ride request is processed.
		#end	
		<br/>	
		<br/>
		Happy Riding!!!
		<br/>
		<br/>
		<p>
			Thanks & Regards, <br/><br/>
			jiffGo Team
			<br/>
			<a href="https://www.jiffgo.com">jiffGo</a>
		</p>
	</body>
 
</html>